.activityDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: $double-spacing 0;
    text-align: center;

    &.orange {
        svg {
            color: $primary;
        }

        .activityDetails_content-moreDetails {
            color: $primary;

            &:hover {
                color: $primary-dk;

                svg {
                    color: $primary-dk;
                }
            }
        }

        .activityDetails_events-item.active {
            outline: 3px solid $primary;
        }

        .activityDetails_events-item:not(.hasDetails) {
            outline: 2px solid $primary;
        }
    }

    &.green {
        svg {
            color: $secondary;
        }

        .activityDetails_content-moreDetails {
            color: $secondary;

            &:hover {
                color: $secondary-dk;

                svg {
                    color: $secondary-dk;
                }
            }
        }

        .activityDetails_separator::before,
        .activityDetails_separator::after {
            background-color: $secondary;
        }

        .activityDetails_events-item.active {
            outline: 3px solid $secondary;
        }

        .activityDetails_events-item:not(.hasDetails) {
            outline: 2px solid $secondary;
        }
    }

    &.yellow {
        svg {
            color: $accent-yellow;
        }

        .activityDetails_content-moreDetails {
            color: $accent-yellow;

            &:hover {
                color: $accent-yellow-dk;

                svg {
                    color: $accent-yellow-dk;
                }
            }
        }

        .activityDetails_separator::before,
        .activityDetails_separator::after {
            background-color: $accent-yellow;
        }

        .activityDetails_events-item.active {
            outline: 3px solid $accent-yellow;
        }

        .activityDetails_events-item:not(.hasDetails) {
            outline: 2px solid $accent-yellow;
        }
    }

    &.blue {
        svg {
            color: $accent-blue;
        }

        .activityDetails_content-moreDetails {
            color: $accent-blue;

            &:hover {
                color: $accent-blue-dk;

                svg {
                    color: $accent-blue-dk;
                }
            }
        }

        .activityDetails_separator::before,
        .activityDetails_separator::after {
            background-color: $accent-blue;
        }

        .activityDetails_events-item.active {
            outline: 3px solid $accent-blue;
        }
        
        .activityDetails_events-item:not(.hasDetails) {
            outline: 2px solid $accent-blue;
        }
    }

    &.purple {
        svg {
            color: $accent-purple;
        }

        .activityDetails_content-moreDetails {
            color: $accent-purple;

            &:hover {
                color: $accent-purple-dk;

                svg {
                    color: $accent-purple-dk;
                }
            }
        }

        .activityDetails_separator::before,
        .activityDetails_separator::after {
            background-color: $accent-purple;
        }

        .activityDetails_events-item.active,
        .activityDetails_events-item:not(.hasDetails) {
            outline: 2px solid $accent-purple;
        }
    }
}

.activityDetails_content {
    display: flex;
    flex-direction: column;
    gap: $base-spacing * 1.5;
    margin-bottom: $half-spacing;

    > * {
        width: 100%;
        text-align: left;
    }

    @include media-query(min, $lap-start) {
        gap: $double-spacing;

        > * {
            width: 50%;
        }

        &.default {
            flex-direction: row;
        }

        &.inverted {
            flex-direction: row-reverse;
    
            > * {
                text-align: right;
            }
    
            .activityDetails_content-date,
            .activityDetails_content-location {
                flex-direction: row-reverse;
    
                svg {
                    margin-left: $half-spacing;
                    margin-right: 0;
                }
            }
        }
    }
}

.activityDetails_content-date,
.activityDetails_content-location {
    display: flex;
    margin-bottom: $half-spacing;

    svg {
        margin-right: $half-spacing;
        margin-top: 1px;
        min-width: $base-spacing * 1.25;
    }
}

.activityDetails_content-img {
    height: 300px;
    object-fit: cover;
    border-radius: $base-spacing;
    background-color: black;
}

.activityDetails_content-description.hasDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activityDetails_content-moreDetails {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

    svg {
        margin-left: $small-spacing;
    }
}

.activityDetails_content-moreDetails {
    margin-top: $base-spacing;
}

.activityDetails_events {
    display: flex;
    justify-content: center;
    gap: $base-spacing;
    width: 100%;
}

.activityDetails_events-item {
    position: relative;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    flex: 1 1 0;
    border-radius: $base-spacing;
    height: 100%;
    padding: 8px;
    font-size: $h3-font-size;
    font-weight: bold;
    max-width: 70px;
    outline: 1px solid $greyscale-5;

    &.hasDetails {
        cursor: pointer;
    }

    span {
        font-size: $base-font-size;
        font-weight: normal;
        margin-top: -$half-spacing;
    }

    svg {
        display: none;
    }

    &.active svg {
        display: block;
        position: absolute;
        bottom: -30px;
        left: 24px;
    }
}