.hompage__bannerImg {
    background-image: url(../../assets/banner.jpg);
    background-size: cover;
    background-position-y: center;
    height: 400px;
    width: calc(100% + $base-spacing);
    margin: -$base-spacing (-$base-spacing) 0;
    position: relative;
    z-index: -1;

    > div {
        height: 100%;
        display: flex;
    }

    h1 {
        color: $white;
        margin: auto;
        padding: 0 $base-spacing;
        font-size: $h2-font-size;

        @include media-query(min, $desk-start) {
            font-size: $h1-font-size;
        }
    }
}

.hompage__bannerOverlay {
    background-color: rgba($black, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.homepage__activitiesContainer {
    margin: $double-spacing * 1.5 auto;

    h1 {
       text-align: center;
    }
}

.homepage__activities {
    display: grid;
    grid-template-columns: 1fr;
    gap: $double-spacing;
    margin-top: $base-spacing * 2;
    text-align: left;

    @include media-query(min, $lap-start) {
        grid-template-columns: 1fr 1fr;
    }

    @include media-query(min, $wide-start) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.homepage__activities-item {
    h2 {
        margin-bottom: $half-spacing;
        text-align: center;
    }

    p {
        margin-bottom: $half-spacing;
    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: bold;
        width: fit-content;

        svg {
            margin-left: $half-spacing;
        }
    }

    &.yellow {
        a {
            color: $accent-yellow;
    
            &:hover {
                color: $accent-yellow-dk;
    
                svg {
                    color: $accent-yellow-dk;
                }
            }
        }
    
        svg {
            color: $accent-yellow;
        }
    }

    &.orange {
        a {
            color: $primary;
            text-decoration: none;
    
            &:hover {
                color: $primary-dk;
    
                svg {
                    color: $primary-dk;
                }
            }
        }
        svg {
            color: $primary;
        }
    }

    &.green {
        a {
            color: $secondary;
            text-decoration: none;
    
            &:hover {
                color: $secondary-dk;
    
                svg {
                    color: $secondary-dk;
                }
            }
        }
        svg {
            color: $secondary;
        }
    }

    &.blue {
        a {
            color: $accent-blue;
            text-decoration: none;
    
            &:hover {
                color: $accent-blue-dk;
    
                svg {
                    color: $accent-blue-dk;
                }
            }
        }
    
        svg {
            color: $accent-blue;
        }
    }

    &.purple {
        a {
            color: $accent-purple;
            text-decoration: none;
    
            &:hover {
                color: $accent-purple-dk;
    
                svg {
                    color: $accent-purple-dk;
                }
            }
        }
    
        svg {
            color: $accent-purple;
        }
    }
}

.homepage__activities-item__icon {
    text-align: center;
}

.homepage__activities-more {
    margin: $double-spacing * 2 0 0;
    font-weight: bold;
    font-size: 18px;
    text-align: center;

    a {
        color: $primary;
        text-decoration: underline;
        margin: 0 5px;

        &:hover {
            color: $primary-dk;
        }
    }
}
