.activityPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 1rem;
    text-align: center;
}

.activityPage_header {
    margin: $base-spacing 0 $double-spacing;

    svg {
        color: $accent-yellow;
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        border-radius: $half-spacing;
        background-color: $accent-yellow;
        margin: $base-spacing auto;

        @include media-query(max, $lap-start) {
            margin: $base-spacing auto 0;
        }
    }
}

.activityPage_content {
    display: flex;
    flex-direction: column;
    gap: $base-spacing * 1.5;

    > * {
        width: 100%;
        text-align: left;
    }

    @include media-query(min, $lap-start) {
        flex-direction: row;
        gap: $double-spacing;

        > * {
            width: 50%;
        }
    }
}

.activityPage_content-date,
.activityPage_content-location {
    display: flex;
    margin-bottom: $half-spacing;

    svg {
        margin-right: $half-spacing;
        margin-top: 1px;
        color: $accent-yellow;
        min-width: $base-spacing * 1.25;
    }
}

.activityPage_content-img {
    height: 300px;
    object-fit: cover;
    border-radius: $base-spacing;
    background-color: black;
}

.activityPage_separator {
    margin: $double-spacing 0;
    padding: 0 $base-spacing;
    position: relative;

    &::before,
    &::after {
        position: absolute;
        left: -50%;
        top: 1px;
        content: '';
        display: block;
        width: 50%;
        height: 2px;
        border-radius: $half-spacing;
        background-color: $accent-yellow;
        margin: $base-spacing auto;
    }

    &::after {
        left: auto;
        right: -50%;
    }
}